#********************************************************************************
# Copyright (c) 2023 T-Systems International GmbH
# Copyright (c) 2023 Contributors to the Eclipse Foundation
#
# See the NOTICE file(s) distributed with this work for additional
# information regarding copyright ownership.

# This program and the accompanying materials are made available under the
# terms of the Apache License, Version 2.0 which is available at
# https://www.apache.org/licenses/LICENSE-2.0.
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
# WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
# License for the specific language governing permissions and limitations
# under the License.
#
# SPDX-License-Identifier: Apache-2.0
#*******************************************************************************/

openapi: 3.0.1
info:
  title: DFT/SDE API information
  description: This Service handles all DFT data provider and consumer operations
  version: '1.0'
servers:
  - url: https://dft-api.int.demo.catena-x.net/api
    description: Generated server url
security:
  - bearerAuth: []
paths:
  /{submodel}/upload:
    post:
      tags:
        - submodel-process-controller
      operationId: fileUpload
      parameters:
        - name: submodel
          in: path
          required: true
          schema:
            type: string
        - name: meta_data
          in: query
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              required:
                - file
              type: object
              properties:
                file:
                  type: string
                  format: binary
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: string
  /{submodel}/manualentry:
    post:
      tags:
        - submodel-process-controller
      operationId: createSubmodelAssets
      parameters:
        - name: submodel
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubmodelJsonRequestObjectNode'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: string
  /subscribe-data-offers:
    post:
      tags:
        - consumer-controller
      operationId: subscribeDataOffers
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConsumerRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: object
  /role:
    post:
      tags:
        - role-management-controller
      operationId: saveRole
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RolePojo'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/RolePojo'
  /role/{role}/permissions:
    get:
      tags:
        - role-management-controller
      operationId: getRolePermission
      parameters:
        - name: role
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  type: string
    post:
      tags:
        - role-management-controller
      operationId: saveRolePermission
      parameters:
        - name: role
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: string
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: string
  /contract-agreements/{negotiationId}/provider/decline:
    post:
      tags:
        - contract-management-controller
      operationId: declineContractProvider
      parameters:
        - name: negotiationId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
  /contract-agreements/{negotiationId}/provider/cancel:
    post:
      tags:
        - contract-management-controller
      operationId: cancelContractProvider
      parameters:
        - name: negotiationId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
  /contract-agreements/{negotiationId}/consumer/cancel:
    post:
      tags:
        - contract-management-controller
      operationId: cancelContractConsumer
      parameters:
        - name: negotiationId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
  /connectors-discovery:
    post:
      tags:
        - portal-proxy-controller
      operationId: fetchConnectorInfo
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: string
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ConnectorInfo'
  /{submodel}/public/{uuid}:
    get:
      tags:
        - submodel-process-controller
      operationId: readCreatedTwinsDetails
      parameters:
        - name: submodel
          in: path
          required: true
          schema:
            type: string
        - name: uuid
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: object
                additionalProperties:
                  type: object
  /user/role/permissions:
    get:
      tags:
        - role-management-controller
      operationId: getAllRolePermissions
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  type: string
  /usecases:
    get:
      tags:
        - submodel-controller
      operationId: getAllUsecases
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  type: object
                  additionalProperties:
                    type: object
  /unified-bpn-validation/{bpn}:
    get:
      tags:
        - portal-proxy-controller
      operationId: unifiedBpnValidation
      parameters:
        - name: bpn
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/UnifiedBpnValidationResponse'
  /submodels:
    get:
      tags:
        - submodel-controller
      operationId: getAllSubmodels
      parameters:
        - name: usecases
          in: query
          required: false
          schema:
            type: array
            items:
              type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  type: object
                  additionalProperties:
                    type: string
  /submodels/{submodelName}:
    get:
      tags:
        - submodel-controller
      operationId: getSubmodelByName
      parameters:
        - name: submodelName
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: object
                additionalProperties:
                  type: object
  /submodels/schema-details:
    get:
      tags:
        - submodel-controller
      operationId: getAllSubmodelswithDetails
      parameters:
        - name: usecases
          in: query
          required: false
          schema:
            type: array
            items:
              type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  type: object
                  additionalProperties:
                    type: object
  /query-data-offers:
    get:
      tags:
        - consumer-controller
      operationId: queryOnDataOffers
      parameters:
        - name: providerUrl
          in: query
          required: true
          schema:
            type: string
        - name: maxLimit
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - name: offset
          in: query
          required: false
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: object
  /processing-report:
    get:
      tags:
        - process-report-controller
      operationId: getProcessingReportsByDateDesc
      parameters:
        - name: page
          in: query
          required: true
          schema:
            type: integer
            format: int32
        - name: pageSize
          in: query
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProcessReportPageResponse'
  /processing-report/{submodel}/success-details/{id}:
    get:
      tags:
        - process-report-controller
      operationId: getProcessSuccessDetailsReportById
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: submodel
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: array
                  items:
                    type: string
  /processing-report/{id}:
    get:
      tags:
        - process-report-controller
      operationId: getProcessReportById
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProcessReport'
  /processing-report/failure-details/{id}:
    get:
      tags:
        - process-report-controller
      operationId: getProcessFailureDetailsReportById
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProcessFailureDetails'
  /ping:
    get:
      tags:
        - ping-controller
      operationId: getProcessReportById_1
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: string
  /legal-entities:
    get:
      tags:
        - portal-proxy-controller
      operationId: fetchLegalEntitiesData
      parameters:
        - name: searchText
          in: query
          required: true
          schema:
            type: string
        - name: page
          in: query
          required: true
          schema:
            type: integer
            format: int32
        - name: size
          in: query
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/LegalEntityResponse'
  /contract-agreements/{negotiationId}/consumer/decline:
    get:
      tags:
        - contract-management-controller
      operationId: declineContractConsumer
      parameters:
        - name: negotiationId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
  /contract-agreements/provider:
    get:
      tags:
        - contract-management-controller
      operationId: contractAgreementsProvider
      parameters:
        - name: maxLimit
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - name: offset
          in: query
          required: false
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
  /contract-agreements/consumer:
    get:
      tags:
        - contract-management-controller
      operationId: contractAgreementsConsumer
      parameters:
        - name: maxLimit
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - name: offset
          in: query
          required: false
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
  /cache/clear-memebercompany-bpnnumber:
    get:
      tags:
        - ping-controller
      operationId: clearBpnnumberCache
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: string
  /cache/clear-ddtrurl:
    get:
      tags:
        - ping-controller
      operationId: clearDdtrurlCache
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: string
  /{submodel}/delete/{processId}:
    delete:
      tags:
        - submodel-process-controller
      operationId: deleteRecordsWithDigitalTwinAndEDC
      parameters:
        - name: processId
          in: path
          required: true
          schema:
            type: string
        - name: submodel
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: string
  /role/{role}:
    delete:
      tags:
        - role-management-controller
      operationId: deleteRole
      parameters:
        - name: role
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
components:
  schemas:
    SubmodelJsonRequestObjectNode:
      type: object
      properties:
        row_data:
          type: array
          items:
            type: object
        type_of_access:
          type: string
        bpn_numbers:
          type: array
          items:
            type: string
        usage_policies:
          type: array
          items:
            $ref: '#/components/schemas/UsagePolicies'
    UsagePolicies:
      type: object
      properties:
        type:
          type: string
          enum:
            - DURATION
            - PURPOSE
            - ROLE
            - CUSTOM
        value:
          type: string
        typeOfAccess:
          type: string
          enum:
            - RESTRICTED
            - UNRESTRICTED
        durationUnit:
          type: string
          enum:
            - YEAR
            - MONTH
            - DAY
            - HOUR
            - MINUTE
            - SECOND
    ConsumerRequest:
      required:
        - connectorId
        - offers
        - policies
        - providerUrl
      type: object
      properties:
        connectorId:
          type: string
        providerUrl:
          type: string
        offers:
          type: array
          items:
            $ref: '#/components/schemas/OfferRequest'
        policies:
          type: array
          items:
            $ref: '#/components/schemas/UsagePolicies'
    OfferRequest:
      required:
        - assetId
        - offerId
      type: object
      properties:
        offerId:
          type: string
        assetId:
          type: string
        policyId:
          type: string
    RolePojo:
      type: object
      properties:
        role:
          type: string
        description:
          type: string
    ConnectorInfo:
      type: object
      properties:
        bpn:
          type: string
        connectorEndpoint:
          type: array
          items:
            type: string
    UnifiedBpnValidationResponse:
      type: object
      properties:
        msg:
          type: string
        bpnStatus:
          type: string
          enum:
            - FULL_PARTNER
            - NOT_PARTNER
            - PARTNER
    ProcessReport:
      type: object
      properties:
        processId:
          type: string
        csvType:
          type: string
        numberOfItems:
          type: integer
          format: int32
        numberOfFailedItems:
          type: integer
          format: int32
        numberOfSucceededItems:
          type: integer
          format: int32
        status:
          type: string
          enum:
            - IN_PROGRESS
            - COMPLETED
            - FAILED
        startDate:
          type: string
          format: date-time
        endDate:
          type: string
          format: date-time
        bpnNumbers:
          type: array
          items:
            type: string
        typeOfAccess:
          type: string
        usagePolicies:
          type: string
        numberOfUpdatedItems:
          type: integer
          format: int32
        numberOfDeletedItems:
          type: integer
          format: int32
        referenceProcessId:
          type: string
    ProcessReportPageResponse:
      type: object
      properties:
        pageNumber:
          type: integer
          format: int32
        pageSize:
          type: integer
          format: int32
        totalItems:
          type: integer
          format: int64
        items:
          type: array
          items:
            $ref: '#/components/schemas/ProcessReport'
    ProcessFailureDetails:
      type: object
      properties:
        uuid:
          type: string
        processId:
          type: string
        log:
          type: string
        dateTime:
          type: string
          format: date-time
    LegalEntityResponse:
      type: object
      properties:
        name:
          type: string
        bpn:
          type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
